<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'tour_list' %}">Tours</a></li>
            <!-- Add more links to other pages as needed -->
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <!-- Add footer information here -->
    </footer>
</body>
</html>
